<section>
    <div class="d-flex flex-wrap productsBox align-items-center justify-content-around w-100 mt-5">
        <div class="products d-flex align-items-center flex-column m-1" *ngFor="let item of products" (click)="count(item.nome)">
            <div class="h-75 w-75 d-flex align-items-center justify-content-center">
                <img src="assets/{{item.img}}" alt="products" width="200px">
            </div>
            <p class="itemName">{{ item.nome }}</p>
            <p class="itemValor">R$ {{ item.valor }}</p>
        </div>
    </div>
    <div class="cartBall" id="cartBall">
        <span>{{ this.totalProducts }}</span>
    </div>
</section>
