section {
    background-color: rgba(0, 0, 0, 0.856);
    border-top: 3px solid rgb(41, 41, 41);
    width: 70%;
    height: 100vh;
    margin: auto;
}

.productsBox {
    display: flex;
    align-items: center;
}

.products {
    background: #ededed;
    border-radius: 3%;
    width: 280px;
    height: 300px;
}

.products:hover {
    img {
        width: 215px;
    }
    cursor: pointer;
    box-shadow: 1px 5px 15px 5px #0000009c;
}

.itemName, .itemValor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.cartBall {
    width: 65px;
    height: 65px;
    border-radius: 58%;
    background: #f3e9e9;
    position: fixed;
    right: 2%;
    bottom: 1%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 31px;
}