<header>
    <div class="navbar d-flex align-items-center p-3">
        <div class="shieldBox w-50 d-flex justify-content-center align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/pt/2/2b/Confedera%C3%A7%C3%A3o_Brasileira_de_Futebol_2019.svg" alt="logo" width="50px">
        </div>
        <div class="creditBox w-50 d-flex justify-content-center align-items-center">
            <span>
                Saldo: {{ credit }}
            </span>
            <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#myModal">
                Recarregar crédito
              </button>
        </div>
    </div>
</header>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Recarregar crédito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
           Quantia: <input class="ml-2" type="text" id="creditqtd">
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="updateUserCredit()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
