/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: rgb(179, 179, 179);
}

p {
    margin: 0;
    padding: 0;
}